<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Restaurant Information Gathering" />
    <title>UPTOME - Most Underated Restaurant Information List Gathering</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
    <a href="#main-content" class="skip-link" tabindex="0">Menuju ke Konten</a>
    <header>

        <nav id="nav" class="menu">
            <h1>UPTOME</h1>
            <button class="menu-button" title="off Hamburger Button" aria-label="off Hamburger Button">☰</button>
            <ul class="menu-list">
                <li><a href="/" title="Link home">Home</a></li>
                <li><a href="#/favorite" title="Link favorite">Favorite</a></li>
                <li><a href="http://github.com/Reoaldo" target="_blank">About Me</a></li>
            </ul>
        </nav>
        </header>
        <!-- hero image -->
    <!-- item -->
    <section class="resto" id="main-content" tabindex="0">
        <h2>Resto</h2>
        <p>Our Lists Resto</p>
        <div id="container">
        </div>
    </section>
    <!-- footer -->
    <footer>
        <a>&copy; Copyright 2022 &dash; Reoaldo Sedang Nugas</a>
    </footer>
</body>

</html>